//Grid pos setting
@function gridSectionTemp($section) {
    @if ($section == "header") {
        $section: $grid-columns-header;
    } @else if ($section == "localisation") {
        $section: $grid-columns-localisation;
    } @else if ($section == "presentation") {
        $section: $grid-columns-presentation;
    } @else if ($section == "commentCaMarche") {
        $section: $grid-columns-commentCaMarche;
    } @else if ($section == "lesRestaurants") {
        $section: $grid-columns-lesRestaurants;
    } @else if ($section == "footer") {
        $section: $grid-columns-footer;
    }
    @return $section;
}