//Grid template setting
@mixin grid-template-set($section) {
    @if ($section == "header") {
        $section: $grid-columns-header;
    } @else if ($section == "localisation") {
        $section: $grid-columns-localisation;
    } @else if ($section == "presentation") {
        $section: $grid-columns-presentation;
    } @else if ($section == "commentCaMarche") {
        $section: $grid-columns-commentCaMarche;
    } @else if ($section == "lesRestaurants") {
        $section: $grid-columns-lesRestaurants;
    } @else if ($section == "footer") {
        $section: $grid-columns-footer;
    }
    grid-template-columns: repeat($section, 1fr);
}

//Grid position setting
@mixin grid-pos-set ($row-start, $row-end, $col-start, $col-end) {
    grid-row: $row-start unquote("/") $row-end;
    grid-column: $col-start unquote("/") $col-end;
}


// TEST MIXIN

//Positionnement selon le nombre de colonne
@mixin grid-cartes-resto {
    $temp-count-row:1;
    $temp-count-col:1;

    @for $i from 1 to $nb-cartes-resto+1 {

        .carte#{$i} {
            grid-row: $temp-count-row unquote("/") ($temp-count-row);
            grid-column: $temp-count-col unquote("/") ($temp-count-col+1);
        }

        @if ($i % $grid-columns-lesRestaurants == 0) {

            $temp-count-row: $temp-count-row+1;
            $temp-count-col: 1;

        }@else{

            $temp-count-col: $temp-count-col+1;

        }
    }
}