@import '_variables';
@import '_functions';
@import '_mixins';
@import '_placeholders';
@import '_components';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

// Début Header
header {
    @extend %grid-center;
    @include grid-template-set ($header);
    padding: 1em;
    // box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
h1 {
    @include grid-pos-set (1, auto, 1, auto);
    font-family: 'Shrikhand', cursive;
}
.btn__retourHome {
    @include grid-pos-set (1, auto, 1, auto);
    justify-self: start;
}
// Fin Header

//Debut Main
main {
    font-family: 'Roboto', sans-serif;
}

    //Debut section localisation
    .localisation {
        @extend %grid-center;
        @include grid-template-set ($localisation);
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(
            180deg,
             rgba(173,173,173,.35) 0%,
             rgba(234,234,234,.75) 15%,
             rgba(234,234,234,1) 100%); 
    }
    .localisation i {
        padding: 0 0.5em 0 0;
    }
    // Fin section localisation

    //Debut section presentation
    .presentation {
        @extend %grid-center;
        @include grid-template-set ($presentation);
        padding: 2em 0 4em;
        background: #f6f6f6;
        text-align: center;
    }
    .presentation h2 {
        padding: 0 5em;
    }
    .presentation p {
        padding: 1em 5em 2em;
    }
    .presentation .btn {
        padding: 1em;
        color: $txt-fond-sombre;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
        &--gradient {
            background-image: radial-gradient(
                100% 50% at 20% 10%, 
                $rose-secondaire 0%, 
                $violet-primaire 200%);
        }
        &--radius {
            border-radius: 2em;
        }
    }
    // Fin section localisation
    
// Fin Main