/* TEST MIXIN */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
footer, .menuDuResto, .lesRestaurants, .commentCaMarche, .presentation, .localisation, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

.menuDuResto h3::after {
  border-bottom: 3px #99E2D0 solid;
  content: "";
  display: block;
  width: 10%;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1.5em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}

--radius {
  border-radius: 2em;
}

header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}

h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  font-family: "Shrikhand", cursive;
}

.btn__retourHome {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  justify-self: start;
}

main {
  font-family: "Roboto", sans-serif;
}

.localisation {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%);
}
.localisation i {
  padding: 0 0.5em 0 0;
}

.presentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
.presentation h2 {
  padding: 0 5em;
}
.presentation p {
  padding: 1em 5em 2em;
}

.commentCaMarche {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}
.commentCaMarche h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
.commentCaMarche ol {
  grid-row: 2 / auto;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  margin: 1em 1em 0;
  justify-self: normal;
  counter-reset: section;
}
.commentCaMarche li::before {
  counter-increment: section;
  content: counter(section);
  position: relative;
  left: -1.8em;
  padding: 0.3em 0.6em;
  border-radius: 70%;
  background-color: #9356DC;
  color: #ffffff;
}
.commentCaMarche p {
  display: inline-block;
  position: relative;
  left: -0.7em;
}
.commentCaMarche i {
  padding: 0 1em 0 0;
}

.fa-mobile-alt:before {
  padding: 0 0.7em 0 0;
}

.fa-list-ul:before {
  padding: 0 0.3em 0 0;
}

.lesRestaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
  background: #f6f6f6;
}
.lesRestaurants h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
.lesRestaurants ul {
  grid-row: 2 / auto;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  justify-self: normal;
  margin: 1em 0;
}
.lesRestaurants li {
  display: inline-block;
  width: 100%;
}
.lesRestaurants a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #000000;
  border-radius: 1.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.lesRestaurants a .sticker {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.3em 0.5em;
  color: #008766;
  background: #99e2d0;
  border-radius: 0.2em;
}
.lesRestaurants a img {
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}
.lesRestaurants a h3, .lesRestaurants a p {
  padding: 0 1rem 0.5rem;
}
.lesRestaurants a button {
  position: absolute;
  bottom: 2.3rem;
  right: 1rem;
  font-size: 1.5em;
}

.menuDuResto {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  justify-items: normal;
  background: #f6f6f6;
}
.menuDuResto__cover {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 20em;
  object-fit: cover;
}
.menuDuResto__carte {
  padding: 2em 1em 0;
  background: #f6f6f6;
  border-radius: 3em 3em 0 0;
}
.menuDuResto h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  margin: 0 0 1em;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
.menuDuResto h2 button {
  margin: 0 0 0 2rem;
  font-size: 0.8em;
}
.menuDuResto h3 {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  text-transform: uppercase;
}
.menuDuResto ul {
  grid-row: 3 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5em;
  margin: 1em 0 2.5em;
  justify-self: normal;
  counter-reset: section;
}
.menuDuResto ul .list-item {
  position: relative;
  padding: 1em;
  cursor: pointer;
}
.menuDuResto ul h4 {
  margin: 0 0 0.3rem 0;
}
.menuDuResto ul strong {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}
.menuDuResto a {
  padding: 1em 2.5em;
  justify-self: center;
}

footer {
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  color: #ffffff;
  background: #353535;
}

footer h2 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  margin: 0 0 1.5rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.4em;
  font-weight: normal;
  justify-self: start;
}

footer ul {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
}
footer ul li {
  margin: 0 0 0.5rem 0;
}

footer a {
  color: #ffffff;
}
footer a .fa-utensils {
  padding: 0 1rem 0 0;
}
footer a .fa-hands-helping {
  padding: 0 0.55rem 0 0;
}
